[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
django = "*"
psycopg2 = "*"
pillow = "*"
cloudinary = "*"
django-bootstrap4 = "*"
django-registration = "*"
django-registration-redux = "*"
django-heroku = "*"
python-decouple = "*"
gunicorn = "*"
whitenoise = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.8"
