body{
    color: black;
    font-family: 'Poppins', sans-serif;
}  
#hood{
    margin-top: 3vw;
    width: 90%;
    margin-left:5vw ;

}
.card{
  margin-bottom: 1vw;
  width: 30%;
  padding-top: 1vw;
  border-radius: 2vw;
  background-color: white;
}
#nav{
    background-color: 
    #e1a872;
    padding: 0.5vw;
    padding-left: 3vw;
}
.dropdown-menu a{
    color: #0b1016;
    margin-left: 3vw;
}
.navbar-form input{
    width: 10vw;
}
.head{
    background-image: url(https://res.cloudinary.com/jeddy/image/upload/v1655656922/zac-gudakov-FH3zlDsY4Z4-unsplash_qpe9tu.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vw;
    padding-top: 14vw;
    padding-left: 10vw;
   
    color: white;
    font-weight: bold;
    
}
.head h5{
    font-size: 2vw;
}
.but a{
    background-color: #d1911d;
    width: 10vw;
    padding: 1vw;
    border-radius: 2vw;
    color: white;
    margin: 2vw;
}
.but{
    margin-top: 2vw;
}
.card{
    height: 30vw;
}
.card img{
    height: 20vw;
}


.card-body input title{
    display: none;
}